<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Welcome.</h1>
    <p>Request Document from Municipality<br>by this App.</p>
  </ion-text>
  <div class="actions">
      <!-- <div class="login-buttons">
          <ion-button>
              <ion-avatar>
                  <img src="../../../assets/img/ionic3-ico.png">
              </ion-avatar>
              <ion-label>Facebook</ion-label>
          </ion-button>
          <ion-button>
            <ion-avatar>
                <img src="../../../assets/img/bg.jpg">
            </ion-avatar>
            <ion-label>Google</ion-label>
        </ion-button>
      </div> -->
      <!-- <div class="separator">
        <span>or</span>
        <span class="line left"></span>
        <span class="line right"></span>
      </div> -->
      <ion-button class="signup-btn" expand="block" (click)="register()">Signup with Email</ion-button>
      <p class="login">Existing user? <a (click)="login()">Login now</a></p>
  </div>
</ion-content>