<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <h5>Activities</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Activity Record Tracking</ion-item-divider>
    <ion-item text-wrap *ngFor="let activities of request.activities">
        <ion-icon name="pin" item-start></ion-icon>
        <ion-label>
            <p>{{ activities.update_info }}</p>
            <p class="date_track">{{ activities.date |  date: 'dd/MM/yyyy HH:mm' }}</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
