<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content item-start *ngIf="notifications != undefined">
  <ion-item text-wrap *ngFor="let notification of notifications" (click)="requestView(notification.data.request_id)">
    <ion-avatar item-start *ngIf="notification.data.update_user == 1">
      <img src ="assets/img/undraw_Newsletter_re_wrob.png">
    </ion-avatar>
    <ion-label *ngIf="notification.data.update_user == 1">
        <h5 class="description">{{ notification.data.requestor_info }}</h5>
        <p>{{ notification.time_diff }} - {{ notification.created_at }}</p>
    </ion-label>
  </ion-item>
</ion-content>
