<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissRequirements()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <h5 *ngIf="formRequirements != undefined">{{ formRequirements.name }}</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf="formRequirements != undefined">
    <ion-item>
      <p>{{ formRequirements['description'] }}</p>
    </ion-item>
    <ion-list>
      <ion-item-divider color="light">Requirements</ion-item-divider>
      <ion-item text-wrap *ngFor="let req of formRequirements['requirements']">
          <ion-icon name="pin" item-start></ion-icon>
          <ion-label>
              <h2>{{ req['name'] }}</h2>
              <p><a *ngIf="req['file_id']" href="{{ req['digital_form']['url'] }}">Click Here to Download Form</a></p>
              <p>{{ req['description'] }}</p>
          </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <!-- <ion-button expand="block" (click)="uploadFile()">Upload</ion-button> -->
  <ion-button expand="block" (click)="request()">Request</ion-button>
  <ion-label><b>{{ uploadText }}</b></ion-label>
</ion-footer>
