<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <h5>Emergency Request Info</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Emergency Request</ion-item-divider>
    <ion-item text-wrap >
        <ion-label>
            <h2>Requested</h2>
            <p>{{ emergencyRequest.department_info.name}}</p>
        </ion-label>
    </ion-item>
    <ion-item text-wrap >
      <ion-label>
          <h2>Area of Incident</h2>
          <p>{{ emergencyRequest.area_incident }}</p>
      </ion-label>
    </ion-item>
    <ion-item text-wrap >
      <ion-label>
          <h2>Type of Incident</h2>
          <p>{{ emergencyRequest.type_incident }}</p>
      </ion-label>
    </ion-item>
    <ion-item text-wrap >
      <ion-label>
          <h2>Remarks</h2>
          <p>{{ emergencyRequest.remarks }}</p>
      </ion-label>
    </ion-item>
    <ion-item text-wrap >
      <ion-label>
          <h2>Requested Date</h2>
          <p>{{ emergencyRequest.created_at |  date: 'dd/MM/yyyy HH:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>