<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissReq()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <h5>Request</h5>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="request != undefined">
  <ion-item text-wrap >
    <ion-avatar item-start>
      <img src ="assets/img/undraw_Resume_re_hkth.png">
    </ion-avatar>
    <ion-label>
        <h2>{{ request.form_info.name }}</h2>
        <p>Request Date : {{ request.request_date | date: 'dd/MM/yyyy' }}</p>
    </ion-label>
  </ion-item>
  <div >
    <ion-item-divider
      text-wrap
      *ngIf="request.activities.length > 0" 
      color="light">
      <ion-label class="activity" >
        <p><a (click)="trackingRecord(request.id)">{{ request.activities[0].update_info }}</a></p>
        <p class="date_track">{{ request.activities[0].date |  date: 'dd/MM/yyyy HH:mm' }}</p>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <p>{{ request.form_info.description }}</p>
    </ion-item>
    <ion-list>
      <ion-item-divider color="light">Requirements</ion-item-divider>
      <ion-item text-wrap *ngFor="let req of request.form_info.requirements">
          <ion-icon name="pin" item-start></ion-icon>
          <ion-label>
              <h2>{{ req['name'] }}</h2>
              <p><a *ngIf="req['file_id']" href="{{ req['digital_form']['url'] }}">Click Here to Fill Up Form</a></p>
              <p>{{ req['description'] }}</p>
          </ion-label>
      </ion-item>
    </ion-list>
    <ion-item-divider
      text-wrap
      *ngIf="request.activities.length > 0 
        && request.activities[0].status == 'approved'
        && request.activities[0].file != null" 
      color="light">
      <ion-label class="activity" >
        <p>Request Document:&nbsp;<a [href]="docDl + request.activities[0].id">{{ request.activities[0].file_name }}</a></p>
        <p class="date_track">Download your document requested</p>
      </ion-label>
    </ion-item-divider>
  </div>
  <ion-item-group >
    <ion-item-divider color="light">Uploaded Documents</ion-item-divider>
    <div *ngFor="let doc of request.documents">
      <ion-item>{{ doc.file_name }}</ion-item>
    </div>
    <ion-button expand="block" (click)="uploadFile()">{{ uploadText }}</ion-button>
  </ion-item-group>
  <!-- <ion-list>
    <ion-item-divider color="light">Upload Docs</ion-item-divider>
    <ion-button expand="block" (click)="uploadFile()">Upload</ion-button>
  </ion-list> -->
</ion-content>
