<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Form Fill outs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let form of forms" (click)="formShow(form.id)">
    <img src="assets/img/undraw_Resume_re_hkth.png"/>
    <ion-card-content>
      <ion-card-title>{{ form.name }}</ion-card-title>
      <p>
        {{ form.description }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
