<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <h5>Emergency Hotline</h5>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="emergencyHotline != undefined">
  <ion-item>
    <h3>{{ emergencyHotline.department_info.name }}</h3>
    <p>{{ emergencyHotline.department_info ? emergencyHotline.department_info.description : '' }}</p>
  </ion-item>
  <ion-list>
    <ion-item-divider color="light">Hotlines</ion-item-divider>
    <ion-item text-wrap *ngIf="emergencyHotline.mobile_number != null">
        <ion-icon name="pin" item-start></ion-icon>
        <ion-label>
            <h2>Mobile Number</h2>
            <a (click)="callHotlineNumber(emergencyHotline.mobile_number)"><ion-icon name="call"></ion-icon> {{ emergencyHotline.mobile_number }} </a>
        </ion-label>
    </ion-item>
    <ion-item text-wrap >
      <ion-icon name="pin" item-start></ion-icon>
      <ion-label>
          <h2>Telephone Number</h2>
          <a (click)="callHotlineNumber(emergencyHotline.telephone)" ><ion-icon name="call"></ion-icon> {{ emergencyHotline.telephone }}</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="emergencyReport(emergencyHotline.department_id)" expand="full">Create Emergency Report</ion-button>
  </ion-toolbar>
</ion-footer>
