<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissRegister()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Create your<br> Account</h1>


  <form id="form" [formGroup] ='form'>
    <ion-item>
      <ion-input type="text" placeholder="First Name" formControlName="first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Middle Name" formControlName="middle_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Last Name" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="date" placeholder="Birth Date" formControlName="birth_date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="User Name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Contact No." formControlName="contact_no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password"  placeholder="Confirm Password" formControlName="password_confirmation"></ion-input>
    </ion-item>
    <ion-button 
      expand="block" 
      shape="round" class="signup-btn" 
      (click)="register()" [disabled]="form.invalid">Join Us</ion-button>
  </form>
    <p>By pressing 'Join Us' you agree to <br>our Terms & Conditions.</p>
</ion-content>