<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismissReport()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <h5>Emergency Request</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup] ='form'>
    <ion-input hidden type="text" placeholder="" formControlName="department_id" [value]="departmentId"></ion-input>
    <ion-item>
      <ion-input type="text" placeholder="Area of Incident" formControlName="area_incident"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Type of Incident" formControlName="type_incident"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="description/remarks.." formControlName="remarks"></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="postEmergencyReport()" expand="full">Submit</ion-button>
  </ion-toolbar>
</ion-footer>
