// ion-item {
//     --padding-start: 0px;
//     margin-bottom: 20x;
// }
ion-item {
  margin-bottom: 20px;
  border-radius: 50px;
  height: 55px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
  --highlight-height: 0px;

  ion-input {
    font-size: 18px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;
  }

  a {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}

ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
    }
  }
  
  ion-content {
    --background: #f5f5f3;

    // h1 {
    //   text-align: center;
    //   font-weight: 700;
    //   font-weight: 700;
    //   font-size: 26px;
    //   color: #010100;
    //   margin-bottom: 15%;
    // }
  
    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
      }
  
      img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 5px solid #ffffff;
      }
    }
  
    #form {
      margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;
  
      // ion-button {
      //   margin-top: 35px;
      //   height: 48px;
      //   font-size: 18px;
      //   text-transform: initial;
      //   border-radius: 50px;
      //   box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      //   --box-shadow: none;
      // }
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
  }

  .signup-btn {
    --background: linear-gradient(90deg, #8c36a5 0%, #664bdc 100%);
  }