<ion-content>
  <div class="top-section ion-padding">
    <div class="top-menu">
        <ion-menu-button>
          <img src="assets/img/menu.png" alt="">
        </ion-menu-button> 
        <!-- <img src="/assets/bell.png" alt=""> -->
    </div>
    <div class="title" *ngIf="user != undefined">
        <h2>Hi {{ user['name'] }}!</h2>
        <!-- <ion-label>{{ attendance.status_work }}</ion-label> -->

    </div>
    <div class="sub-title">
        <h3>Request Form Now!</h3>
        <p>Hassle Free requesting document in Municipality of Calaca, Batangas</p>
        <div class="action-buttons" >
          <ion-button class="sms" (click)="requestForm()">
            Request Form
          </ion-button>
          <ion-button class="call" (click)="emergencyRequest()">
            Emergency Request
          </ion-button>
        </div>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <h3>Reminders</h3>
    <div class="content">
        <ion-row>
          <ion-col size="4">
            <img src="assets/img/step1.png" alt="">
            <p>Request Document</p> 
          </ion-col>
          <ion-col size="4">
            <img src="assets/img/step2.png" alt="">
            <p>Upload Requirements</p> 
          </ion-col>
          <ion-col size="4">
            <img src="assets/img/step3.png" alt="">
            <p>Wait and Approved!</p> 
          </ion-col>
        </ion-row>
    </div>
  </div>
  <div class="bottom-section ion-margin">
    <img src="assets/img/test.png">
    <div class="content">
      <h3>Request Form and Wait!</h3>
      <p>Follow the instruction and wait for Approval</p>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <h3>What are you looking for?</h3>
    <ion-card *ngFor="let form of forms" (click)="formShow(form.id)">

      <img src="assets/img/undraw_Resume_re_hkth.png"/>

      <ion-card-content>
        <ion-card-title>{{ form.name }}</ion-card-title>
        <p>
          {{ form.description }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item text-wrap>
    <ion-label class="welcome">
      <h1 *ngIf="user != undefined">Welcome {{ user['name'] }}</h1>
      <p>Request and Tracking Document</p>
    </ion-label>
  </ion-item>
  <ion-label class="doc-lbl"><b>What are you Looking For?</b></ion-label>
  <ion-card *ngFor="let form of forms" (click)="formShow(form.id)">

    <img src="assets/img/undraw_Resume_re_hkth.png"/>

    <ion-card-content>
      <ion-card-title>{{ form.name }}</ion-card-title>
      <p>
        {{ form.description }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content> -->