<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Requested Document
    </ion-title>
  </ion-toolbar>

  <ion-toolbar >
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="request">
        Request
      </ion-segment-button>
      <ion-segment-button value="inprogress">
        In Progress
      </ion-segment-button>
      <ion-segment-button value="closed">
        Closed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="requests != undefined">
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'request'">
      <ng-container *ngFor="let request of requests">
        <ion-item text-wrap *ngIf="request.status == 'request'" (click)="requestView(request.id)">
          <ion-avatar item-start >
            <img src ="assets/img/undraw_Resume_re_hkth.png">
          </ion-avatar>
          <ion-label>
              <h5>{{ request.form_info.name }}</h5>
              <p>Request Date : {{ request.request_date }} | Request No.: {{ request.requested_no }}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngSwitchCase="'inprogress'">
      <ng-container *ngFor="let request of requests">
        <ion-item text-wrap *ngIf="request.status == 'in_progress' || request.status == 'assigned' || request.status == 'pending'" (click)="requestView(request.id)">
          <ion-avatar item-start>
            <img src ="assets/img/undraw_Resume_re_hkth.png">
          </ion-avatar>
          <ion-label>
              <h5>{{ request.form_info.name }}</h5>
              <p>Request Date : {{ request.request_date }} | Request No.: {{ request.requested_no }}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngSwitchCase="'closed'">
      <ng-container *ngFor="let request of requests">
        <ion-item text-wrap *ngIf="request.status == 'approved' || request.status == 'disapproved'" (click)="requestView(request.id)">
          <ion-avatar item-start >
            <img src ="assets/img/undraw_Resume_re_hkth.png">
          </ion-avatar>
          <ion-label >
              <h5>{{ request.form_info.name }}</h5>
              <p>Request Date : {{ request.request_date }} | Request No.: {{ request.requested_no }}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
    
  </div>
</ion-content>