<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Emergency Request
    </ion-title>
  </ion-toolbar>

  <ion-toolbar >
    <ion-segment [(ngModel)]="start">
      <ion-segment-button value="emergency">
        Emergency Hotlines
      </ion-segment-button>
      <ion-segment-button value="request">
        Requests
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="emergencyHotline != undefined">
  <div [ngSwitch]="start">
    <ion-list *ngSwitchCase="'emergency'">
      <ion-item text-wrap *ngFor="let hotline of emergencyHotline" (click)="hotlineView(hotline.id)">
        <ion-avatar item-start>
          <img src ="assets/img/undraw_warning_cyit.png">
        </ion-avatar>
        <ion-label>
            <h5>{{ hotline.department_info.name }}</h5>
            <p>{{ hotline.department_info ? hotline.department_info.description : '' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'request'" >
      <ion-item text-wrap *ngFor="let emergency of emergencyRequest" (click)="requestView(emergency.id)">
        <ion-avatar item-start >
          <img src ="assets/img/undraw_warning_cyit.png">
        </ion-avatar>
        <ion-label >
            <h5>&nbsp;{{ emergency.department_info.name }}</h5>
            <p>Request Date : {{ emergency.created_at |  date: 'dd/MM/yyyy HH:mm' }} | Type of Incident: {{ emergency.type_incident }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
  </div>
</ion-content>
